header {
  border-bottom: solid 1px #6a8da1;
  position: sticky;
  top: 0;
  z-index: 1000; }
  header .logo {
    width: 12vw; }
  header .navegacion {
    height: auto;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
    header .navegacion li {
      padding: 10px 15px 10px 15px;
      margin: 5px;
      background-color: #3a3ac5; }
      header .navegacion li:hover {
        background-color: #6060f5; }
