/*FOOTER*/
footer{
    background: $degradadoCeleste;
    margin-top: 200px;
    height: 25%;
    .container_wsp{
       position: fixed;
       background-color:$verdeWhatsapp;
       border-radius: 100%;
       z-index: 999;
       bottom: 20px;
       right: 25px;
       padding: 15px;
       .icono_wsp{
           width: 50px;
           height: 50px;
        }
        
        @-webkit-keyframes hvr-buzz {
            50% {
              -webkit-transform:$transform1;
              transform:$transform1;
            }
            100% {
              -webkit-transform: $transform2;
              transform:$transform2;
            }
        }
          @keyframes hvr-buzz {
            50% {
              -webkit-transform:$transform1 ;
              transform: $transform1;
            }
            100% {
              -webkit-transform: $transform2;
              transform: $transform2;
            }
        }
          .hvr-buzz {
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            &:hover{
               -webkit-animation-name: hvr-buzz;
               animation-name: hvr-buzz;
               -webkit-animation-duration: 0.15s;
               animation-duration: 0.15s;
               -webkit-animation-timing-function: $linear;
               animation-timing-function: $linear;
               -webkit-animation-iteration-count: $infinita;
               animation-iteration-count: $infinita;
            }
            &:focus{
               -webkit-animation-name: hvr-buzz;
               animation-name: hvr-buzz;
               -webkit-animation-duration: 0.15s;
               animation-duration: 0.15s;
               -webkit-animation-timing-function: $linear;
               animation-timing-function: $linear;
               -webkit-animation-iteration-count: $infinita;
               animation-iteration-count: $infinita;
            }
            &:active{
                -webkit-animation-name: hvr-buzz;
                animation-name: hvr-buzz;
                -webkit-animation-duration: 0.15s;
                animation-duration: 0.15s;
                -webkit-animation-timing-function: $linear;
                animation-timing-function: $linear;
                -webkit-animation-iteration-count: $infinita;
                animation-iteration-count: $infinita; 
            }
        }
    }   
}
        .logo_footer{ 
            img{
            margin-top: 2%;
            width: 15%;
            height: auto;
            margin-bottom: 15px;
            justify-content: center;
            }
        }
        h4{
            font-family: map-get($fuentes,fuenteDos);
            margin-top: 100px;
            font-size: medium;
            text-align: center;
            text-shadow: 1px 1px 2px black, 0 0 1em rgb(119, 119, 235), 0 0 0.2em rgb(113, 113, 214);
            color: white;
        }
    .iconos_redes{
         img{
         width: 25px;
         margin: 1em;
         margin-bottom: 2em;
         } 
         .hvr-grow{
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-property: transform;
            transition-property: transform;
            &:hover{
                -webkit-transform: $escala1;
                transform: $escala2;
            }
            &:focus{
                -webkit-transform: $escala1;
                transform: $escala2;
            }
            &:active{
                -webkit-transform: $escala1;
                transform: $escala2;
            }
        }   
}

