$colorCeleste:#3aa2cc;
$colorNavegador:rgb(58, 58, 197);
$colorNavHover:rgb(96, 96, 245);
$degradadoCeleste:radial-gradient(circle, rgba(208,229,244,1) 0%, rgba(63,142,180,1) 68%, rgba(59,86,164,1) 87%, rgb(83, 91, 134) 100%);
$verdeWhatsapp: rgb(37, 211, 102);
$colorCards:#64e1f1;
$sizePrincipal:40px;